<!DOCTYPE html>
<html>
	<head>
		<title><%=title%></title>
		<link rel="stylesheet" href="/../css/bootstrap.min.css">
		<link rel="stylesheet" href="/../css/style.css">
		<script src="/../js/tudo.js"></script>
	</head>
	<body>
		<div class="container">
			<h1 class="page-header">Sistema NodeJS</h1>
		</div>